@mixin flexAlign($hor: center, $vert:center, $pos:row) {  //  прописываем набор свойств для упрощенного использования в коде
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
    
}

.menu{
    @include flexAlign(flex-start); 
      // используем прописанное свойство и меняем в нем первый параметр
    &__item{
        width: 120px;
        height: 50px;
        background:linear-gradient(to right, rgb(200, 255, 0), rgb(15, 178, 243));
       @include flexAlign;
       clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
       padding-right: 15px;
       box-sizing: border-box;
       position: relative;
      // left: -24px;
        transition: .5s;
        user-select: none; // запрет на выделение текста
        cursor: pointer;

        &:hover{                           //организовываем движение при наведении
        animation-name: buttonAnimation;
        animation-duration: 1s;                // продолжительность анимации
        //animation-delay: .5s;               // задержка сработки анимации
        animation-iteration-count: infinite;  // бесконечно будет работать анимация если поставить 3, то сработает 3 раза 
            z-index: 3;                   // выпячивание над всеми 
            transform: scale(1.2);        // увеличение в размере при наведении
            padding-right: 15px;          // смещение текста по центру
        }


       &_first{         // модификатор влияет на первый item, но при этом нужно прописать в html свойство first, second, third
        z-index: 2;
       }

       &_second {
        left: -24px;
        z-index: 1;
        padding-right: 0px;
       }

       &_third {
        left: -48px;
        padding-right: 0px;

       }

  //   &:first-child {   влияет на положение первого элемента из всех item
  //      left: 0px;
  // }

  //  &:last-child {  влияет на положение последнего элемента из всех item
  //      left: -48px;
  //  }


    }
}

@keyframes buttonAnimation {  // настройка анимации от и до, можно писать from to или по времени в %
    0%{
        transform: rotate(0deg);
        
    }
    40%{
        transform: rotate(-20deg);
        
    }

    50%{
        transform: scale(2);
    }
    80% {
        transform: rotate(20deg);

    }
    100%{
        transform: rotate(0deg);
    }
}
.container{
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    @include flexAlign(space-between);

    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    @media screen and(max-width:768px) {
        flex-wrap: nowrap;
        padding-bottom: 0px;
        flex-direction: column;
        
    }

    &__item{
        height: 60px;
        width: 100%;
        background-color: blue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        @include flexAlign;
        margin-right: 10px;
        @media screen and (max-width: 1024px) {
            width: 49%;
            margin-right: 0px;
            margin-bottom: 10px;
        }
        
    @media screen and(max-width:768px) {
        width:  100%;  
        
    }

        &:last-child{
            margin-right: 0px;
        }
    }
}